@import "../../Main.css";

.navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--horizontal-padding);
  background-color: white;
}

.navtop__logo {
  width: 100px;
}

.navtop__btn {
  border: none;
  background-color: transparent;
  margin-left: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  transition: all ease 0.3s;
  outline: none;
}
.navtop__btn:hover,
.navtop__btn:focus {
  color: rgba(0, 0, 0, 1);
}

.navbottom {
  display: flex;
  padding: 0.8rem var(--horizontal-padding);
  text-transform: uppercase;
  justify-content: space-between;
  color: white;
  background-color: var(--primary);
}

.navbottom__link {
  cursor: pointer;
  transition: all ease 0.3s;
}
.navbottom__link:hover,
.navbottom__link:focus {
  color: var(--quaternary);
}

.navtop__mobile-menu {
  display: none;
  font-size: 1.7rem;
  margin-right: 20px;
}

@media (max-width: 700px) {
  .icon {
    display: block;
    size: 500px;
  }

  .navtop__menu.active {
    left: 0;
    background-color: white;
    transition: all 0.5s ease;
  }

  .navtop__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 128px;
    left: -100%;
    transition: all 0.5s ease;
  }

  .navtop__btn {
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  .navtop__mobile-menu {
    display: block;
  }
}
