* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff6b6b;
  --secondary: #f7fff7;
  --tertiary: #4ecdc4;
  --quaternary: #1a535c;
  --horizontal-padding: 10%;
}

@media (max-width: 850px) {
  :root {
    --horizontal-padding: 2%;
  }
}

.app {
  background-color: var(--secondary);
}
